{{>navbar user=user}}
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
        aria-expanded="false">
        Categoria
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li><a class="dropdown-item" href="/productos">Ver todos</a></li>
        {{#each categories}}
            <li><a class="dropdown-item" href="/productos/{{this}}">{{this}}</a></li>
        {{/each}}
    </ul>
</div>
{{>products products=products}}
{{>footer}}