<div class="divForm">
    <form action="/login" method="post" class="form" id="formLogin">
        <h1>Login</h1>
        <label for="username" class="form-label">Nombre</label>
        <input type="name" name="username" class="form-input" placeholder="nombre">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" name="password" class="form-input" placeholder="nombre">
        <button type="submit" class="btn">Enviar</button>
        
    </form>
    <button class="btn" onclick="location.href = '/register'">Sign Up</button>
</div>

<script src="/js/login.js"></script>