<div >
    <form action="/register" enctype="multipart/form-data" method="post" >
            <h1>Sign Up</h1>
            <label for="mail">Mail</label>
            <input type="email" name="mail"  placeholder="mail">
            <label for="username" >Nombre</label>
            <input type="name" name="username"  placeholder="nombre">
            <label for="password" >Contraseña</label>
            <input type="password" name="password"  placeholder="contraseña">
            <label for="address" >Dirección</label>
            <input type="text" name="address"  placeholder="dirección">
            <label for="age" >Edad en número</label>
            <input type="number" name="age"  placeholder="edad">
            <label for="phone" >Número de teléfono</label>
            <input type="number" name="phone" placeholder="+54(número)">
            <label for="avatar" >Avatar</label>
            <input type="file" name="avatar"  placeholder="suba una foto">
            <button type="submit" >Enviar</button>
            
        </form>
    {{!-- <button class="btn" onclick="location.href = '/login'">Log in</button> --}}
</div>